@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Por defecto Claro (gray-50), en modo Dark (gray-950) */
    @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100 antialiased transition-colors duration-300;
  }
}

/* Estilos para scrollbar personalizado (opcional pero recomendado) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}
