@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #f8fafc;
    /* slate-50 */
    --foreground: #0f172a;
    /* slate-900 */
  }

  .dark {
    --background: #020412;
    /* Deep Navy */
    --foreground: #ffffff;
  }

  html,
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* Estilos para scrollbar personalizado (opcional pero recomendado) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* gray-300 */
  border-radius: 9999px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  /* gray-700 */
}